In [1]:
import pandas as pd

In [4]:
CVB24_MBNL1 = pd.read_csv("~/projects/MBNL_skipper/skipper_analysis/output/reproducible_enriched_windows/CVB24_MBNL1.reproducible_enriched_windows.tsv.gz",
           sep = "\t")

In [6]:
CVB24_MBNL1.columns

Index(['chr', 'start', 'end', 'name', 'score', 'strand', 'gc', 'gc_bin',
       'chrom', 'feature_id', 'feature_bin', 'feature_type_top',
       'feature_types', 'gene_name', 'gene_id', 'transcript_ids',
       'gene_type_top', 'transcript_type_top', 'gene_types',
       'transcript_types', 'input_sum', 'clip_sum', 'enrichment_n',
       'enrichment_l2or_min', 'enrichment_l2or_mean', 'enrichment_l2or_max',
       'p_max', 'p_min', 'q_max', 'q_min'],
      dtype='object')

In [7]:
CVB24_MBNL1[['chr', 'start', 'end', 'chrom', 'gene_name', 'input_sum', 'clip_sum', 'enrichment_n',
       'enrichment_l2or_min', 'enrichment_l2or_mean', 'enrichment_l2or_max',
       'p_max', 'p_min', 'q_max', 'q_min']]

,chr,start,end,chrom,gene_name,input_sum,clip_sum,enrichment_n,enrichment_l2or_min,enrichment_l2or_mean,enrichment_l2or_max,p_max,p_min,q_max,q_min
0,chrX,63350535,63350627,chrX,LINC01278:SPIN4,0,1538,2,10.162200,10.502600,10.843000,1.000000e-12,1.000000e-12,3.236830e-10,1.285750e-10
1,chrX,63350535,63350627,chrX,LINC01278:SPIN4,0,1538,2,10.162100,10.501700,10.841300,1.000000e-12,1.000000e-12,1.164480e-09,8.495150e-10
2,chr1,61161225,61161325,chr1,NFIA,0,2804,4,10.022000,10.325500,10.629000,1.000000e-12,1.000000e-12,1.164480e-09,1.285750e-10
3,chr2,235948593,235948693,chr2,AGAP1,1,1751,2,9.507130,9.930615,10.354100,1.000000e-12,1.000000e-12,1.164480e-09,8.495150e-10
4,chr2,235948593,235948693,chr2,AGAP1,1,1751,2,9.506310,9.929555,10.352800,1.000000e-12,1.000000e-12,3.236830e-10,1.285750e-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7936,chr20,58910015,58910081,chr20,GNAS,379,646,2,0.460298,0.552979,0.645660,8.744340e-03,2.660780e-04,7.526420e-02,1.361910e-02
7937,chr11,65501159,65501258,chr11,MALAT1,246,417,2,0.411432,0.540765,0.670098,3.211090e-02,6.506380e-04,1.735630e-01,2.733940e-02
7938,chr11,65502151,65502250,chr11,MALAT1,343,561,2,0.495917,0.532332,0.568747,7.787640e-03,1.281020e-03,7.001490e-02,4.560510e-02
7939,chr20,58905382,58905480,chr20,GNAS,783,1348,2,0.467156,0.530118,0.593079,1.859720e-03,1.736820e-04,5.961870e-02,4.381360e-03
7940,chr3,151188053,151188153,chr3,MED12L,33005,48457,2,0.262735,0.337261,0.411788,2.781390e-02,8.887840e-04,1.594860e-01,3.399110e-02